body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5d6678;
  }

  #perfiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }

  .perfil {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .perfil:hover {
    transform: scale(1.05);
  }

  .perfil img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #3498db;
  }

  .perfil .descripcion {
    padding: 15px;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  p {
    font-size: 1em;
    line-height: 1.4;
  }
